@use "variables" as *;

body {
  background: $bg-color;
  color: $text-color;
  font-family: sans-serif;
  padding: 2rem;
}

h1 {
  color: $text-color;
  padding-bottom: 0.5rem;
}

.card {
  background: #040404;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 1rem;
}
